
    <!-- 底部
    ================================================== -->
    <footer class="footer">
      <div class="container">
          <p>Framework by <strong><a href="http://www.onethink.cn" target="_blank">OneThink</a></strong>, Cloudflare Partner Suite by <strong><a href="https://github.com/AxelPanda" target="_target">AxelPanda</a></p>
      </div>
    </footer>

<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden"></block>
</div>
